$css-vars: (
    base: (
        // Typography
        --font: "'Roboto', sans-serif",
        --font-secondary: var(--font),

        --font-size: 16px,
        --line-height: 1.5,
        --paragraph-spacing: 1.5rem,

        --font-size-xs: 12px,
        --font-size-sm: 14px,
        --font-size-lg: 18px,

        --h0: 60px,
        --h1: 40px,
        --h2: 30px,
        --h3: 25px,
        --h4: 20px,
        --h5: 16px,
        --h6: 14px,


        // Colors
        --color: #000,
        --bg-color: #fff,

        --primary-light: #{lighten(#5956e9, 10)},
        --primary: #5956e9,
        --primary-dark: #{darken(#5956e9, 10)},

        --secondary: #b00400,
        --secondary-dark: #{darken(#b00400, 10)},

        --light: #f2f2f2,
        --dark: #212529,

        --gray-light: #f2f2f2,
        --gray: #7e7f87,
        --gray-dark: #666,

        --border-color: #e4e8f1,
        --corner-radius: 6px,
        --img-bg: var(--gray-light),

        --green: #7ab573,
        --orange: #f6b036,
        --red: #de594a,

        --info: var(--light),
        --success: var(--green),
        --warning: var(--orange),
        --error: var(--red),


        // Spacing
        --spacing: 8px,


        // Grid
        --gutter-x: 30px,
        --gutter-y: 30px,
        --container-width: 1180px,
        --container-padding: 30px,


        // Sections
        --section-padding: 100px,


        // Other
        --border-radius: 8px,
        --ribbon-height: 50px,


        // Fp components
        --fp-color-STD-BACKGROUND:          #FFFFFF,
        --fp-color-PRIMARY-TEXT:            #000000,
        --fp-color-SECONDARY-TEXT:          #696969,

        --fp-color-GRAY-10:                 #EBEBEB,
        --fp-color-GRAY-20:                 #DBDBDB,
        --fp-color-GRAY-30:                 #BABABA,
        --fp-color-GRAY-40:                 #9F9F9F,
        --fp-color-GRAY-50:                 #868686,
        --fp-color-GRAY-60:                 #696969,
        --fp-color-GRAY-70:                 #464646,
        --fp-color-GRAY-80:                 #333333,
        --fp-color-GRAY-90:                 #1F1F1F,
        --fp-color-GRAY-100:                #0F0F0F,

        --fp-color-BLUE-10:                 #E0F0FF,
        --fp-color-BLUE-20:                 #C5E0FA,
        --fp-color-BLUE-30:                 #9EBFF7,
        --fp-color-BLUE-40:                 #77A3FC,
        --fp-color-BLUE-50:                 #4C85FF,
        --fp-color-BLUE-60:                 #3366FF,
        --fp-color-BLUE-70:                 #2A35FF,
        --fp-color-BLUE-80:                 #2C20D4,
        --fp-color-BLUE-90:                 #160C9C,
        --fp-color-BLUE-100:                #080261,

        --fp-color-BLUE-PRIMARY-HIGHLIGHT:  #3366FF,

        --fp-color-GREEN-OK:                #0CA919,
        --fp-color-YELLOW-WARNING:          #FFD800,
        --fp-color-RED-DANGER:              #F03040,
    ),
    // Breakpoints
    // Be careful not to leave behind empty arrays like md:().
    md: (
        --section-padding: 80px,
    ),
    xs: (
        --section-padding: 60px,
    )
) !default;
