@mixin cluster($gutter-x: get-var(--gutter-x), $gutter-y: get-var(--gutter-y)){
    --gutter-x: #{$gutter-x};
    --gutter-y: #{$gutter-y};
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter-x) / -2);
    margin-right: calc(var(--gutter-x) / -2);
    margin-top: calc(var(--gutter-y) * -1);

    & > *{
        flex-shrink: 0;
        margin-left: calc(var(--gutter-x) / 2);
        margin-right: calc(var(--gutter-x) / 2);
        margin-top: var(--gutter-y);
    }
}


.cluster{
    @include cluster;
}
