@mixin caret($direction, $size: 10, $stroke-width: 2, $color: null){
    $sqrt2: 1.4142;
    $side-lenght: $size / $sqrt2;
    $margin: ($side-lenght - ($size * .12)) * .25;
    $negative-margin: ($side-lenght * -.5) + ($stroke-width / $sqrt2);

    content: '';
    display: block;
    width: px($side-lenght);
    height: px($side-lenght);
    transform: rotate(45deg);

    @if $color {
        color: $color;
    }

    @if $direction == 'up' {
        border-top: px($stroke-width) solid currentColor;
        border-left: px($stroke-width) solid currentColor;
        margin: px($margin) px($margin) px($negative-margin);
    }

    @else if $direction == 'down' {
        border-bottom: px($stroke-width) solid currentColor;
        border-right: px($stroke-width) solid currentColor;
        margin: px($negative-margin) px($margin) px($margin);
    }

    @else if $direction == 'left' {
        border-bottom: px($stroke-width) solid currentColor;
        border-left: px($stroke-width) solid currentColor;
        margin: px($margin) px($negative-margin) px($margin) px($margin);
    }

    @else if $direction == 'right' {
        border-top: px($stroke-width) solid currentColor;
        border-right: px($stroke-width) solid currentColor;
        margin: px($margin) px($margin) px($margin) px($negative-margin);
    }
}
