@mixin placeholder-color($color){
    --placeholder-color: #{$color};

    ::-webkit-input-placeholder{
        color: var(--placeholder-color);
    }

    :-moz-placeholder{
        color: var(--placeholder-color);
    }

    ::-moz-placeholder{
        color: var(--placeholder-color);
    }
}
