@mixin text-xs{
    font-size: var(--font-size-xs);
}

@mixin text-sm{
    font-size: var(--font-size-sm);
}

@mixin text-md{
    font-size: var(--font-size-md, var(--font-size));
}

@mixin text-lg{
    font-size: var(--font-size-lg);
}

@mixin text-xl{
    font-size: var(--font-size-xl);
}
