.right-menu-wrapper {
    //background-color: transparent;
    width: fit-content;
    max-width: 400px;
    height: 100vh;
    margin-left: auto;
    border: 1px solid $c-gray;
}

.right-menu {
    margin-right: $w-gutter;

    & .button--category {
        width: 50%;
    }

    &__category {
    }

    &__item {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        font-size: 18px;

        & > * {
            cursor: pointer;
        }
    }

    svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}