.top-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: $top-menu-height;
    // background-color: $bgc-body;
    // border: 1px solid $c-gray;
    width: 100%;
}

.top-menu {

    &__tab {
        position: relative;

        &:not(.fp-components-tabcontainer-activetab) {
            cursor: pointer;
        }
    }

    .tab {

        &__text {
            cursor: pointer;
        }
    }

    &__button {
        margin-left: 8px;
        background-image: url('fp-components/img/svg/abb_right_24.svg');
        display: block;
        font-size: 42px;
        display: flex;
        cursor: pointer;

        & > * {
            margin: auto
        }
    }

    &__cross {
        position: absolute;
        inset: auto 0 0 auto;
        width: 15%;
        height: calc(100% - 5px);
        display: flex;
        font-size: 22px;
        cursor: pointer;

        & > * {
            margin: auto;
        }
    }
}